<mat-sidenav-container autosize="true">
    <mat-sidenav opened="true" mode="side" class="division">
        <div class="logo" fxLayout fxLayoutAlign="start center" fxLayoutGap="20px">
            <mat-icon>child_care</mat-icon>
            <h3 *ngIf="expanded">Bienvenido a Buccale</h3>
        </div>
        <app-menu (onToggleExpanded)="toggleExpanded($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>