<app-title></app-title>
<app-container>
    <div fxLayout 
        fxLayout="space-between" >
        <div fxLayout="column" 
            fxLayoutAlign="center center" 
            fxFlex = "50%"
            class="info">
            <img src="/assets/img/about.png" width="350px" class="aboutimg">
        </div>
        <div fxLayout="column" fxLayoutAlign="center" fxFlex = "50%" 
                class="description">
            <h1>Buccale Ecuador</h1>
            <h2>Ortodoncia estética y dental</h2>
            <h3>Es un consultorio odontológico ubicado en Ambato, Ecuador; 
                abrió sus puertas en Febrero de 2021, para ofrecer servicios 
                odontológicos especializados en todas la áreas de Odontología, 
                prestando atención de primera; con materiales, equipos y técnicas 
                de vanguardia; brindada por profesionales certificados para cada 
                necesidad y con amplia experiencia en su campo; ofreciendo precios 
                competitivos y resultados de calidad. Brindando al paciente un trato 
                familiar y de respeto. </h3>
        </div>
    </div>
</app-container>
