<app-title></app-title>
<app-container>
    <div fxLayout 
        fxLayout="space-between" >
        <div fxLayout="column" 
            fxLayoutAlign="center center" 
            fxFlex = "40%"
            class="info">
            <h2>BUCCALE</h2>
            <h1>Tu salud bucal en las mejores manos</h1>
            <h3>Ingresa la siguiente información para registrar tu cita:</h3>
        </div>
        <div  fxLayoutAlign="center center" fxFlex = "60%">
            <app-form fxLayoutAlign="center center"></app-form>
        </div>
    </div>
</app-container>
